<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공인중개사 정보</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="h1">공인중개사 정보</div>
		<table class="table">
			<tbody>
				<tr>
					<th>ID</th>
					<td th:text="${realtor.id}">9</td>
				</tr>
				<tr>
					<th>상호명</th>
					<td th:text="${realtor.office}">대박공인중개사</td>
				</tr>
				<tr>
					<th>전화 번호</th>
					<td th:text="${realtor.phoneNumber}">010-222-1111</td>
				</tr>
				<tr>
					<th>주소</th>
					<td th:text="${realtor.address}">서울시 서초구</td>
				</tr>
				<tr>
					<th>등급</th>
					<td th:text="${realtor.grade}">안심중개사</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>