<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>가게 리스트</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<link rel="stylesheet" href="/thymeleaf/css/storeList.css">
</head>
<body>
	<div class="wrap">
		<header class="bg-info">
			<div class="text-white p-3 h4 m-0">배탈의 민족</div>
		</header>
		<section>
			<article>
				<div class="py-2">
					<div class="display-4 p-0 m-0">우리동네 가게</div>
				</div>
				<div th:each="storeInfo : ${storeList}">
					<form method="get" action="/store/review">
						<div class="border border-info rounded-lg p-2 mb-2">
							<div th:text="${storeInfo.name}" class="font-weight-bolder pb-1">교촌치킨</div>
							<div th:text="${storeInfo.phoneNumber}" class="small">전화번호 : 02-111-0000</div>
							<div th:text="${storeInfo.address}" class="small">주소 : 서울시 서초구</div>
							<input name="id" type="hidden" th:value="${storeInfo.id}">
							<input name="name" type="hidden" th:value="${storeInfo.name}">
							<button type="submit" class="btn btn-info">리뷰보기</button>
						</div>
					</form>
				</div>
			</article>
		</section>
	</div>
</body>
</html>