<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>가게 리뷰</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<link rel="stylesheet" href="/thymeleaf/css/storeList.css">
</head>
<body>
	<div class="wrap">
		<header class="bg-info">
			<div class="text-white p-3 h4 m-0">배탈의 민족</div>
		</header>
		<section>
			<article>
				<div class="py-2">
					<div th:text="|${name} - 리뷰|" class="display-4 p-0 m-0">배달삼겹 - 리뷰</div>
				</div>
				<div th:if="${#lists.isEmpty(reviewList)}" class="h1">작성된 리뷰가 없습니다</div>
				<div th:unless="${#lists.isEmpty(reviewList)}"  th:each="review, state : ${reviewList}">
					<div class="border border-info rounded-lg p-2 mb-2">
						<div class="d-flex pb-1">
							<div th:text="${review.userName}" class="font-weight-bolder mr-2">이정재</div>
							<div th:switch="${review.point}">
								<div th:case="0.5" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_half.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
								</div>
								<div th:case="1.0" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
								</div>
								<div th:case="1.5" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_half.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
								</div>
								<div th:case="2.0" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
								</div>
								<div th:case="2.5" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_half.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
								</div>
								<div th:case="3.0" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
								</div>
								<div th:case="3.5" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_half.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
								</div>
								<div th:case="4.0" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_empty.png" width="15px">
								</div>
								<div th:case="4.5" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_half.png" width="15px">
								</div>
								<div th:case="5.0" class="d-flex">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
									<img alt="point" src="http://marondal.com/material/images/dulumary/web/jstl/star_fill.png" width="15px">
								</div>
							</div>
						</div>
						<div th:text="${#temporals.format(review.createdAt, 'yyyy년 M월 d일')}" class="small text-secondary">2021년 4월 3일</div>
						<div th:text="${review.review}">고기가 덜익어서 왔어요!</div>
						<div class="d-flex">
							<div th:text="${review.menu}" class="rounded-lg bg-gray small">목살 고기만</div>
						</div>
					</div>
				</div>
			</article>
		</section>
	</div>
</body>
</html>