<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">	<!-- thymeleaf를 사용하기 위한 속성 추가 -->
<head>
<meta charset="UTF-8">
<title>추가한 seller 정보</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<!-- 값 : ${key.맴버변수이름} => 내부적으로는 getter를 이용해서 값을 가져온다 -->
<!-- th:text="값" => 태그 사이에 text넣는 속성 -->
<!-- th:src="값" => src의 값을 바꾸는 속성-->
	<div class="container">
		<div class="h1">판매자 정보</div>
		<img th:src="${seller.profileImage}" alt="프로필이미지" src="#" width="300" height="300">
		<div class="display-4" th:text="${seller.nickname}">닉네임</div>
		<div class="text-danger" th:text="${seller.temperature}">온도</div>
	</div>
</body>
</html>