<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.songjae.spring.test.mvc.repository.RealtorRepository">
 	<!-- useGreneratedKeys="true" => 자동으로 생성된(insert된) 키 값(기본키)을 가져온다고 설정 -->
 	<!-- keyProperty="id" => 가져온 키값을 저장할 자바 객체의 속성을 지정 -->
 	<!-- 리턴값은 업데이트된 행수이고 인자로 넘어온 객체에 내부적으로 setter로 id값만 넣어주는 것이다 -->
 	<insert id="insertRealtor" 
 	parameterType="com.songjae.spring.test.mvc.domail.Realtor"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `realtor`
 		(
 		  `office`
 		, `phoneNumber`
 		, `address`
 		, `grade`
 		)
 		VALUE
 		(
 		  '${office}'
 		, '${phoneNumber}'
 		, '${address}'
 		, '${grade}'
 		)
 	</insert>
 
 </mapper>