<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.songjae.spring.test.thymeleaf.repository.WeatherHistoryRepository">
 	<select id="selectWeatherHistory" resultType="com.songjae.spring.test.thymeleaf.domain.WeatherHistory">
 		SELECT * FROM `weatherhistory`;
 	</select>
 	
 	<insert id="insertWeather" parameterType="map">
 		INSERT INTO
 			`weatherhistory`
 		(
 			`date`
 			, `weather`
 			, `temperatures`
 			, `percipitation`
 			, `microDust`
 			, `windSpeed`
 		)
 		VALUE
 		(
 			#{date}
 			, #{weather}
 			, #{temperatures}
 			, #{percipitation}
 			, #{microDust}
 			, #{windSpeed}
 		)
 	</insert>
 	
 	<insert id="insertWeatherByObject" parameterType="com.songjae.spring.test.thymeleaf.domain.WeatherHistory">
 		INSERT INTO
 			`weatherhistory`
 		(
 			`date`
 			, `weather`
 			, `temperatures`
 			, `percipitation`
 			, `microDust`
 			, `windSpeed`
 		)
 		VALUE
 		(
 			#{date}
 			, #{weather}
 			, #{temperatures}
 			, #{percipitation}
 			, #{microDust}
 			, #{windSpeed}
 		)
 	</insert>
 	
 </mapper>