<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>thymeleaf Test01</title>
</head>
<body>
	<h1>1. 변수</h1>
	<th:block th:with="number1 = 10, number2 = 20">
		<h3 th:text="|첫번째 숫자: ${number1}|"></h3>
		<h3 th:text="|두번째 숫자: ${number2}|"></h3>
	
		<h1>2. 산술연산</h1>
		<h3 th:text="|더하기: ${number1 + number2}|"></h3>
		<h3 th:text="|빼기: ${number1 - number2}|"></h3>
		<h3 th:text="|나누기: ${number1 / number2}|"></h3>
		<h3 th:text="|곱하기: ${number1 * number2}|"></h3>
	
	
		<h1>3. 태그 그대로 출력</h1>
		<div th:utext="'<h3>안녕하세요</h3>'"></div>
	
		<h1>4. if와 unless</h1>
		<th:block th:with="average = ${(number1 + number2) / 2}">
			<h1 th:if="${average / 2 >= 10}" th:text="${(number1 + number2) / 2}"></h1>
			<h1 th:unless="${average / 2 >= 10}" th:text="${(number1 + number2) / 2}"></h1>
		</th:block>
	</th:block>
</body>
</html>